# packages to be installed with conda
# requirements.txt format
# to install with pip, use requirements.txt
cdshealpix
dask-image
eccodes>=2.35.0
fastparquet
healpy
papermill
rclone
rich
xmovie
zstandard
