# packages to be installed with pip
# if they should be installed with conda,
# use conda-requirements.txt

gh-scoped-creds
jupyter-keepalive
jupyterhub==4.1.6
# git+https://github.com/iaocea/pangeo-fish#egg=pangeo-fish
git+https://github.com/iaocea/xarray-healpy#egg=xarray-healpy
