# packages to be installed with pip
# if they should be installed with conda,
# use conda-requirements.txt

gh-scoped-creds
isort
jupyter-keepalive
jupyterhub==4.1.6
kbatch==0.5.0a2
kbatch-papermill==0.1.0a1
pangeo-fish==2025.03.1
xarray-healpy @ git+https://github.com/iaocea/xarray-healpy.git@9d036a1b221f1b052cc4b1d09d45ac0e5166e403
