# packages to be installed with pip
# if they should be installed with conda,
# use conda-requirements.txt

gh-scoped-creds
isort
jupyter-keepalive
jupyterhub==4.1.6
kbatch @ git+https://github.com/kbatch-dev/kbatch@1c18c485d5482fa8878dfedf922201b5e8556528#subdirectory=kbatch
kbatch-papermill @ git+https://github.com/minrk/kbatch-papermill
# git+https://github.com/iaocea/pangeo-fish#egg=pangeo-fish
#git+https://github.com/iaocea/xarray-regridding#egg=xarray-regridding
xarray-healpy @ git+https://github.com/iaocea/xarray-regridding.git@0ffca6058f4008f4f22f076e2d60787fcf32ac82
